# Data files

*.csv
data/
datasets/
*.zip

# Jupyter

.ipynb_checkpoints/

# Python

**pycache**/
*.pyc

# Environment

.env
.venv/
venv/

# Reports/submissions

*.pdf
*.docx
*.html
*_predictions.csv
